[Unit]
Description=Nuggies WiFi Setup / Captive Portal
Documentation=https://github.com/nuggies/nuggies_pi_displays
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
ExecStart=/home/pi/nuggies_pi_displays/scripts/wifi_setup_service.sh
WorkingDirectory=/home/pi/nuggies_pi_displays
User=root
StandardOutput=journal
StandardError=journal
Restart=no

[Install]
WantedBy=multi-user.target
